<div class="container">
	<div class="image-grid grid_1">
		<%= image_tag "" %><%= image_tag "" %>
	</div>
	<div class="about-text">
		<h3 class="about-heading">About Me</h3>
		<p>This is a </p>
		<p>Description </p>
		<p>Of me </p>
	</div>
	<div class="image-grid grid_2">
		<%= image_tag "" %><%= image_tag "" %>
	</div>
	
</div>