<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="inner cover">
        <h1 class="cover-heading">Hi, I'm <span class="name">Kai</span>!</h1>
        <h2>I create unique and awesome web experiences 		        </h2>
        <%= link_to "View My Portfolio", portfolio_path, class: "btn btn-lg btn-default"%>
      </div>

    </div>

  </div>

</div>